body{
    margin: 15px;
}

.box{
    border: 2px solid black;
    margin-top: 15px;
    padding: 5%;
}

#div1{
    margin-top: 15px;
}

.nominativi{
    font-style: italic;
    border: 2px solid black;
    padding: 5px;
    text-transform: capitalize;
}

#txtNome{
    margin-left: 26px;
}

#txtCognome,#btnInserisci{
    margin-top: 10px;
}

#txtNome,#txtCognome{
    text-transform: capitalize;
}